/* Font Family Work Sans */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

:root {
    --padding-horizontal-mobile: 1.25rem;
    --primary: #717cff;
    --black-1: #2F2F2F;
    --gray-1: #7D7D7D;
    --gray-2: #373737;
    --white-1: #FAFAFA;
}

body {
    margin: 0;
}

body,
button {
    font-family: "Work Sans";
}

button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 11px;
    border: none;
    padding: 0.7rem 1rem;
}

button.primary {
    background-color: var(--primary);
    color: #FFFFFF;
    font-size: 18px;
    line-height: 40px;
}

.mt-1 {
    margin-top: 0.25rem;
}

.mt-2 {
    margin-top: 0.5rem;
}

.mt-3 {
    margin-top: 0.75rem;
}

.mt-4 {
    margin-top: 1rem;
}

.mt-8 {
    margin-top: 2rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem var(--padding-horizontal-mobile);
}

.logo {
    width: 146px;
    height: 52px;
}

.menu-icon {
    width: 40px;
    height: 30px;
} 

.hero {
    padding: var(--padding-horizontal-mobile);
}

.hero-image {
    display: none;
}

.paragraph {
    font-size: 18px;
    line-height: 38px;
    color: var(--gray-1);
    word-wrap: break-word;
}

.hero__title {
    font-size: 38px;
    font-weight: 400;
    line-height: 45px;
    color: var(--black-1);
}

.hero__title > span {
    color: var(--primary);
}

.primary > img {
    width: 18.17px;
    height: 17.72px;
    margin-left: 1rem;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    padding: var(--padding-horizontal-mobile) 0;
}

.social-icon > .facebook {
    width: 11.19px;
    height: 20.45px;
}

.social-icon > .twitter {
    width: 20.67px;
    height: 17.66px;
}

.social-icon > .instagram {
    width: 21.31px;
    height: 22.43px;
}

.universities {
    display: flex;
    flex-direction: column;
    background-color: var(--white-1);
    align-items: center;
    padding: 3.5rem var(--padding-horizontal-mobile);
}

.universities-title {
    font-family: Work Sans;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 2.1px;
    margin: 0;
    color: #373737;
    opacity: 73%;
}

.universities > img {
    padding-top: 2.5rem;
}

.universities > img:nth-child(2) {
    padding-top: 3.5rem;
}

.university-macquarie {
    width: 223px;
    height: 68px;
}

.university-charles {
    width: 248px;
    height: 64.26px;
}

.university-newcastle {
    width: 222px;
    height: 79px;
}

.university-trobe {
    width: 272px;
    height: 62px;
}

.section-title {
    color: var(--gray-2);
    font-size: 37px;
    line-height: 54px;
    letter-spacing: -0.4625px;
}

.centered-text {
    font-family: Work Sans;
    font-size: 18px;
    line-height: 38px;
    text-align: center;
    color: #7D7D7D;
    margin-left: 20px;
    margin-right: 20px;
}

.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7rem var(--padding-horizontal-mobile) 3rem var(--padding-horizontal-mobile);
}

.testimonials-card {
    background: #FFFFFF;
    box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.0588235);
    border-radius: 29px;
    width: 335px;
    height: 466px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
}

.card-avatar {
    width: 67px;
    height: 62px;
    border-radius: 12px;
}

.card-header {
    display: flex;
    padding-top: 38px;
    margin-left: 34px;
}

.card-heading {
    margin: 0;
    padding-left: 21px;
}

.card-title {
    width: 154px;
    height: 26px;
    font-family: Work Sans;
    font-size: 22px;
    line-height: 26px;
    color: #37474F;
    margin: 0;
}

.card-title--width { 
    width: 179px;
    height: 26px;
}

.card-label {
    width: 84.41px;
    height: 21px;
    font-family: Work Sans;
    font-size: 18px;
    line-height: 21px;
    color: #37474F;
    opacity: 0.65;
    margin: 0;
}

.card-text {
    width: 264px;
    height: 341px;
    font-family: Work Sans;
    font-size: 18px;
    line-height: 31px;
    color: rgba(55, 71, 79, 0.721569);
    padding-left: 34px;
}

.card-label--width {
    width: 198.42px;
    height: 21px;
}

.news-section {
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 98px;
}

.news-card {
    width: 335px;
    height: 401.52px;
    background: #FFFFFF;
    box-shadow: 0px 6px 42px rgba(0, 0, 0, 0.103884);
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
}

.news-image {
    width: 335px;
    height: 218.13px;
    border-radius: 10px 10px 0px 0px;
}

.news-date {
    display: flex;
    justify-content: aling items;
}

.schedule-icon {
    width: 14.79px;
    height: 15.2px;
    padding-left: 26.58px;
    margin-top: 31px;
}

.date {
    padding-left: 11.92px;
    margin-top: 27.56px;
    font-family: Work Sans;
    font-size: 16px;
    line-height: 19px;
    color: #565656;
}

.news-text {
    font-family: Work Sans;
    font-size: 22px;
    line-height: 26px;
    color: #252525;
    padding-left: 27px;
    margin-top:20.16px;
}

.button-news--margin {
    margin-top: 146.34px;
}

.footer {
    width: 374px;
    height: 672px;
    background-color: #717CFF;
    margin-top: 134px;
}