/* Font Family Work Sans */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
}

.logo {
    width: 146px;
    height: 52px;
}

.menu-icon {
    width: 52px;
    height: 40px;
} 

.hero {
    padding: 20px 20px;
}

.hero-image {
    display: none;
}

.hero__text {
    /* display: flex; */
    font-size: 18px;
    font-family: "Work Sans";
    line-height: 38px;
    color: #7D7D7D
}

.hero__text--font {
    font-size: 38px;
    line-height: 45px;
    color: #2F2F2F;
}

h1 > span {
    color:#717cff
}

.apply-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #717cff;
    color: #FFFFFF;
    border-radius: 11px;
    border: none;
    font-family: "Work Sans";
    font-family: Work Sans;
    font-size: 18px;
    line-height: 40px;
    padding: 12px 20px;
}

.apply-button > img {
    width: 18.17px;
    height: 17.72px;
    padding-left: 12px;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    padding: 20px 20px;
}


.social-icons > .facebook {
    width: 11.19px;
    height: 20.45px;
}

.social-icons > .twitter {
    width: 20.67px;
    height: 17.66px;
}

.social-icons > .instagram {
    width: 21.31px;
    height: 22.43px;
}

.universities {
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
    align-items: center;
}

.universities-title {
    font-family: Work Sans;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 2.1px;
    color: #373737;
    Opacity: 73%;
    padding: 20px 55px 30px; 
}

.university-macquarie {
    width: 223px;
    height: 68px;
    padding: 40px;
}

.university-charles {
    width: 248px;
    height: 64.26px;
    padding: 20px;
}

.university-newcastle {
    width: 222px;
    height: 79px;
    padding: 20px;
}

.university-trobe {
    width: 272px;
    height: 62px;
    padding: 20px;
}

.centered-title {
    font-family: Work Sans;
    font-size: 37px;
    line-height: 54px;
    text-align: center;
    letter-spacing: -0.4625px;
    color: #373737;
    padding-top: 80px;
}

.centered-text {
    font-family: Work Sans;
    font-size: 18px;
    line-height: 38px;
    text-align: center;
    color: #7D7D7D;
    margin-left: 20px;
    margin-right: 20px;
}

.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials-card {
    background: #FFFFFF;
    box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.0588235);
    border-radius: 29px;
    width: 335px;
    height: 466px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
}

.card-avatar {
    width: 67px;
    height: 62px;
    border-radius: 12px;
}

.card-header {
    display: flex;
    padding-top: 38px;
    margin-left: 34px;
}

.card-heading {
    margin: 0;
    padding-left: 21px;
}

.card-title {
    width: 154px;
    height: 26px;
    font-family: Work Sans;
    font-size: 22px;
    line-height: 26px;
    color: #37474F;
    margin: 0;
}

.card-title--width { 
    width: 179px;
    height: 26px;
}

.card-label {
    width: 84.41px;
    height: 21px;
    font-family: Work Sans;
    font-size: 18px;
    line-height: 21px;
    color: #37474F;
    opacity: 0.65;
    margin: 0;
}

.card-text {
    width: 264px;
    height: 341px;
    font-family: Work Sans;
    font-size: 18px;
    line-height: 31px;
    color: rgba(55, 71, 79, 0.721569);
    padding-left: 34px;
}

.card-label--width {
    width: 198.42px;
    height: 21px;
}

.news-section {
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-card {
    width: 335px;
    height: 401.52px;
    background: #FFFFFF;
    box-shadow: 0px 6px 42px rgba(0, 0, 0, 0.103884);
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
}

.news-image {
    width: 335px;
    height: 218.13px;
    border-radius: 10px 10px 0px 0px;
}

.news-date {
    display: flex;
    justify-content: aling items;
}

.schedule-icon {
    width: 14.79px;
    height: 15.2px;
    padding-left: 26.58px;
    margin-top: 31px;
}

.date {
    padding-left: 11.92px;
    margin-top: 27.56px;
    font-family: Work Sans;
    font-size: 16px;
    line-height: 19px;
    color: #565656;
}

.news-text {
    font-family: Work Sans;
    font-size: 22px;
    line-height: 26px;
    color: #252525;
    padding-left: 27px;
    margin-top:20.16px;
}

.button-news--margin {
    margin-top: 146.34px;
}