/* Font Family Work Sans */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

:root {
    --padding-horizontal-mobile: 1.25rem;
    --padding-horizontal-tablet: 3rem;
    --padding-horizontal-desktop: 5rem;
    --primary: #717cff;
    --black-1: #2F2F2F;
    --gray-1: #7D7D7D;
    --gray-2: #373737;
    --white-1: #FAFAFA;
}

body, p {
    margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

body,
button {
    font-family: "Work Sans";
}

button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 11px;
    border: none;
    padding: 0.7rem 1rem;
}

button.primary {
    background-color: var(--primary);
    color: #FFFFFF;
    font-size: 18px;
    line-height: 40px;
}

button.outline {
  background-color: white;
  border: 2px solid var(--primary);
  cursor: pointer;
  padding: 0.7rem 1.5rem;
}

.mt-1 {
    margin-top: 0.25rem;
}

.mt-2 {
    margin-top: 0.5rem;
}

.mt-3 {
    margin-top: 0.75rem;
}

.mt-4 {
    margin-top: 1rem;
}

.mt-8 {
    margin-top: 2rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem var(--padding-horizontal-mobile);
}

.logo {
    width: 146px;
    height: 52px;
}

.menu-icon {
    width: 40px;
    height: 30px;
}

.navbar-menu {
    display: none;
}

.hero {
    padding: var(--padding-horizontal-mobile);
}

.hero-image {
    display: none;
}

.paragraph {
    font-size: 18px;
    line-height: 38px;
    color: var(--gray-1);
    word-wrap: break-word;
}

.hero-title {
    font-size: 38px;
    font-weight: 400;
    line-height: 45px;
    color: var(--black-1);
}

.hero-title > span {
    color: var(--primary);
}

.primary > img {
    width: 18.17px;
    height: 17.72px;
    margin-left: 1rem;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    padding: var(--padding-horizontal-mobile) 0;
}

.social-icon > .facebook {
    width: 11.19px;
    height: 20.45px;
}

.social-icon > .twitter {
    width: 20.67px;
    height: 17.66px;
}

.social-icon > .instagram {
    width: 21.31px;
    height: 22.43px;
}

.universities {
    background-color: var(--white-1);
    padding: 3.5rem var(--padding-horizontal-mobile);
}

.universities-title {
    font-family: Work Sans;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 2.1px;
    margin: 0;
    color: #373737;
    opacity: 73%;
}

.universities-logos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.universities-logos > img {
    padding-top: 2.5rem;
}

.universities-logos > img:nth-child(2) {
    padding-top: 3.5rem;
}

.university-macquarie {
    width: 223px;
    height: 68px;
}

.university-charles {
    width: 248px;
    height: 64.26px;
}

.university-newcastle {
    width: 222px;
    height: 79px;
}

.university-trobe {
    width: 272px;
    height: 62px;
}

.section-title {
    color: var(--gray-2);
    font-size: 37px;
    line-height: 54px;
    letter-spacing: -0.4625px;
}

.text-center {
    text-align: center;
}

.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7rem var(--padding-horizontal-mobile) 3rem var(--padding-horizontal-mobile);
}

.testimonials-list > .testimonials-card {
    margin: 2rem 0;
}

.testimonials-card {
    background: #FFFFFF;
    box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.0588235);
    border-radius: 29px;
    padding: 1.8rem;
}

.card-avatar {
    width: 67px;
    height: 62px;
    border-radius: 12px;
}

.card-header {
    display: flex;
}

.card-heading {
    margin-left: 21px;
}

.card-title {
    font-size: 22px;
    line-height: 26px;
    color: #37474F;
    margin: 0;
}

.card-label {
    font-size: 18px;
    line-height: 21px;
    color: #a2b9c5;
    opacity: 0.65;
    margin: 0;
}

.card-text {
    font-size: 18px;
    line-height: 31px;
    color: rgba(55, 71, 79, 0.721569);
}

.card-label--width {
    width: 198.42px;
    height: 21px;
}

.news-section {
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem var(--padding-horizontal-mobile) 8rem var(--padding-horizontal-mobile);
}

.news-list > .news-card {
    margin: 1.5rem 0;
}

.news-card {
    width: 335px;
    background: #FFFFFF;
    box-shadow: 0px 6px 42px rgba(0, 0, 0, 0.103884);
    border-radius: 10px;
    box-sizing: border-box;
}

.news-image {
    width: 100%;
    height: 218.13px;
    border-radius: 10px 10px 0px 0px;
}

.news-date {
    align-items: center;
    display: flex;
    padding: 1rem 2rem 0 2rem;
}

.schedule-icon {
    width: 14.79px;
    height: 15.2px;
}

.date {
    font-size: 16px;
    line-height: 19px;
    color: #565656;
    margin-left: 1rem;
}

.news-text {
    font-size: 22px;
    line-height: 26px;
    color: #252525;
    padding: 1rem 2rem 3.5rem 2rem;
    margin: 0;
}

.button-news {
    margin-top: 4rem;
}

.footer {
    background-color: var(--primary);
    color: white;
    padding: 3rem 1.2rem;
}

.footer-logo {
  height: 57px;
  width: 160px;
}

.footer-menu {
  margin-bottom: 2rem;
}

.footer-menu > li {
  cursor: pointer;
  margin-top: 1.2rem;
  font-size: 16px;
  font-weight: 400;
}

.footer-menu > li:hover {
    text-decoration: underline;
}

.company-address {
  font-size: 18px;
  line-height: 32px;
  margin: 1rem 0 2rem 0;
}

.copy-rights {
  font-size: 18px;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
    .hero {
        padding: var(--padding-horizontal-tablet);
    }

    .hero, .hero-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero .paragraph {
        text-align: center;
    }

    .universities {
        padding: 3.5rem var(--padding-horizontal-tablet);
    }
    
    .testimonials {
        padding: 7rem var(--padding-horizontal-tablet) 3rem var(--padding-horizontal-tablet);
    }

    .news-section {
        padding: 2.5rem var(--padding-horizontal-tablet) 8rem var(--padding-horizontal-tablet);
    }

    .news-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .news-card {
        flex-basis: 45%;
    }

    .footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .company-info {
        flex-basis: 50%;
    }
    .footer-menu, .icons-footer {
        flex-basis: 24%;
    }

    .icons-footer {
        flex-basis: 15%;
        align-self: flex-end;
    }

}

@media screen and (min-width: 1024px) {
    .navbar {
        padding: 2.5rem var(--padding-horizontal-desktop);
    }

    .navbar-options {
        flex-basis: 70%;
    }

    .menu-icon {
        display: none;
    }

    .navbar-menu {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    .navbar-menu > .navbar-menu--option:hover {
        border-bottom: 2px solid var(--primary);
        cursor: pointer;
        padding-bottom: .5rem;
        transition: 0.15s linear;
    }

    .universities {
        padding: 3rem var(--padding-horizontal-desktop) 3rem var(--padding-horizontal-desktop);
    }

    .universities-logos {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: no-wrap;
    }

    .universities-logos > img:nth-child(2) {
        padding-top: 0;
    }

    .universities-logos > img {
      max-width: 20%;
      padding: 0;
      margin: 2.5rem 0;
      height: auto;
    }

    .testimonials {
        padding: 7rem var(--padding-horizontal-desktop) 3rem var(--padding-horizontal-desktop);
    }

    .testimonials-list {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .testimonials-card {
        box-sizing: border-box;
        flex-basis: 46%;
    }

    .news-section {
        padding: 2.5rem var(--padding-horizontal-desktop) 8rem var(--padding-horizontal-desktop);
    }

    .news-card {
        flex-basis: 32%;
    }
}
