body {
    margin: 0;
    background-image: url("https://images.ctfassets.net/3s5io6mnxfqz/4w2HQFnzRAsjqgWjNtuy1v/41becac8b5d850dd15302b785119435f/AdobeStock_268001268.jpeg");
    background-size: cover;
    max-width: 100%;
}

header {
    background-color: #333
} 

h1 {
    margin: 0;
    font-size: 65px;
    padding: 45px;
}

h2 {
    font-size: 14px;
}

h3 {
    font-size: 24px;
    font-weight: 700;
    background-color: #F49731;
    display: inline-block;
    padding: 10px;
    margin: 30px 30px;
}

.ingredients-section {
    margin-bottom: 60px;
}

main {
    padding: 45px;
    background-color: rgb(8 88 92 / 77%);
    height: 75vh;
}

.preparation-section {
    border-style: dashed;
    border-width: 10px;
    border-color: #F49731;
}

.text {
    font-family: 'Ubuntu', sans-serif;
}

ul {
    list-style-type:none;
}

.white-text {
    color: #fbfbfb;
}

.yellow-text {
    color: yellow;
}